body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  text-align: center;

  color: white;
  font-size: 50px;
  letter-spacing: 5px;
}

img {
  width: 500px;
  height: 400px;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(173, 129, 230);
  border: none;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
